/* CARD SLIDER  */
@import url('https://fonts.googleapis.com/css2?family=Average+Sans&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #f1f4fd;
}

.container {
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper {
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  z-index: 5;
  color: #fff;
  display: flex;
  cursor: pointer;
  font-size: 2.2rem;
  background: #000;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #404040;
}

.slider-wrapper .slide-button#prev-slide {
  left: -25px;
  display: none;
}

.slider-wrapper .slide-button#next-slide {
  right: -25px;
}

.slider-wrapper .image-list {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 18px;
  font-size: 0;
  list-style: none;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
}

.slider-wrapper .image-list::-webkit-scrollbar {
  display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
}

.container .slider-scrollbar {
  height: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  background: #ccc;
  width: 100%;
  height: 2px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  position: relative;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
}

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  background: #000;
  top: 0;
  bottom: 0;
  width: 50%;
  height: 100%;
  cursor: grab;
  border-radius: inherit;
}

.slider-scrollbar .scrollbar-thumb:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
}

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

/* Styles for mobile and tablets */
@media only screen and (max-width: 1023px) {
  .slider-wrapper .slide-button {
    display: none !important;
  }

  .slider-wrapper .image-list {
    gap: 10px;
    margin-bottom: 15px;
    scroll-snap-type: x mandatory;
  }

  .slider-wrapper .image-list .image-item {
    width: 280px;
    height: 380px;
  }

  .slider-scrollbar .scrollbar-thumb {
    width: 20%;
  }
}

.additional-buttons
{
    display: flex;
    justify-content: right;
}
.custom-btn {
    border: 1px solid black;
    margin: 10px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #fff;
    color: #000;
}

.custom-btn:hover {
  background: #000;
  color: #fff;
}






















/* BLOG CARD SECTION  */
.main_container_blog {
    height: fit-content;
    padding: 60px;
    display: flex;
    justify-content: center;
    background-color: #F6F6F6;
}

.main_container_blog_content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    /* width: 1000px; */

}

.main_container_blog_content_heading_h1 {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
    margin-bottom: 60px;
    cursor: pointer;
}

.main_container_blog_content_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin-block: 2rem;
    gap: 2rem;
}

img {
    max-width: 100%;
    display: block;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
    overflow: hidden;
    box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .3em;
    background: #ECE9E6;
    background: linear-gradient(to right, #FFFFFF, #ECE9E6);

}

.card_body {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.card_body_h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    color: #4F4F4F;
}

.card_body_para {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: #000;
  
}

.card_body_btn {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    /* 100% *
}
.card__footer {
    display: flex;
    /* padding: 1rem; */
    /* margin-top: auto; */
}

@media only screen and (max-width: 425px) {
    .main_container_blog {
        padding: 20px;
    }

    .main_container_blog_content_heading_h1 {
        font-size: 25px;
    }

}

@media only screen and (max-width: 320px) {
    .main_container_blog {
        padding: 20px;
    }

    .main_container_blog_content_heading {
        padding: 20px;
        font-size: 18px;
    }

}



