.product_application {
    padding: 80px;
}
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: #eee;
}

.tab {
    color: #000;
    font-family: "SangBleu Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    text-transform: uppercase;
}